{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <title>Rusia2018SW2</title>

  <style>
      .skills {
          text-align: right;
          padding-right: 10px;
          line-height: 40px;
          color: white;
      }
      .intro-2 {
          background: url("https://pbs.twimg.com/profile_background_images/626100471086850049/8WBVDw0m.jpg")no-repeat center center;
          background-attachment: fixed;
      }      
      p {
          color: white;
          font-size:20px;
      }
  </style>

</head>
<body class="container intro-2">

{% csrf_token %}

<br>
<br>
<br>
<br>
<div class="row">
  <div class="col-sm-3">
  	<label for="sel1" style="color: white">Evento:</label>
      <select class="form-control" id="sel1">
        <option>Seleccionar Evento</option>
        <option value="trivia">trivia</option>
        <option value="equipo">equipo</option>
        <option value="polla">polla</option>
        <option value="Todos">Todos</option>
      </select>

  </div>
  <div class="col-sm-3">
  	<label for="sel2" style="color: white">Mes:</label>
      <select class="form-control" id="sel2">
        <option>Seleccionar Mes</option>
        <option value="1">Enero</option>
        <option value="2">Febrero</option>
      </select>
  </div>
  <div class="col-sm-3">
  	<label for="sel2" style="color: white">Año:</label>
      <select class="form-control" id="sel3">
        <option>Seleccionar Año</option>
        <option value="2018">2018</option>
      </select>
  </div>
    <div class="col-sm-3">
  	<button class="btn btn-success" onclick="filtro()">FILTRAR</button>
  </div>
</div>

<br>
  <br>
  <br>

  	<p>Total</p>
<div>
    <div class="skills Total" style="width: 0%; background-color: green;" id="total"># Eventos: 0 - 0%</div>
  </div>


  <p>Lunes</p>
  <div>
    <div class="skills lunes" style="width: 0%; background-color: #2196F3;"># Eventos: 0 - 0%</div>
  </div>

  <p>Martes</p>
  <div >
    <div class="skills martes" style="width: 0%; background-color: #f44336;"># Eventos: 0 - 0%</div>
  </div>

  <p>Miércoles</p>
  <div >
    <div class="skills miercoles" style="width: 0%; background-color: #808080;"># Eventos: 0 - 0%</div>
  </div>

  <p>Jueves</p>
  <div >
    <div class="skills jueves" style="width: 0%; background-color: black;"># Eventos: 0 - 0%</div>
  </div>

  <p>Viernes</p>
  <div >
    <div class="skills viernes" style="width: 0%; background-color: brown;"># Eventos: 0 - 0%</div>
  </div>

  <p>Sábado</p>
  <div >
    <div class="skills sabado" style="width: 0%; background-color: orange;"># Eventos: 0 - 0%</div>
  </div>

  <p>Domingo</p>
  <div >
    <div class="skills domingo" style="width: 0%; background-color: #4CAF50;"># Eventos: 0 - 0%</div>
  </div>
  
  <br><br><br><br>

  <a href="{% url 'juegosmundial:juegos_listar' %}" class="btn btn-primary btn-lg">Regresar al Menú Principal</a>
  <br>       

  <script src="{% static 'js/eventos.js' %}" ></script>

</body>
</html>
