<style>

* {box-sizing: border-box}




  .lunes {width: 15%; background-color: #4CAF50;}
.martes {width: 80%; background-color: #2196F3;}
.miercoles {width: 65%; background-color: #f44336;}
.jueves {width: 60%; background-color: #808080;}
.viernes {width: 60%; background-color: black;}
.sabado {width: 60%; background-color: brown;}
.domingo {width: 60%; background-color: orange;}

</style>
